@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.logo{
    margin-left: 20px;
    font-family:sans-serif;
}
.nav-background{
    background-color: rgb(94, 95, 22);
}
/* Base styles imported from
https://makepages.com/css/shared.css
*/
.wrapper {text-align:center;}
.selectstyle {
  --selectsize:3rem;
  --uibordercolor:#bbb;
  --uibackground:#f8f8f8;
  --uiborderradiusfactor:0;
  --uihovercolor:#363636;
  --uireversecolor:#fff;
  --unicodepointer:"\25bc";
}
.selectstyle--style1 {
  --uibordercolor:#ace;
  --uibackground:#f8f8ff;
  --uiborderradiusfactor:0.167;
  --uihovercolor:#125FA6;
  --uireversecolor:#fff;
}
.selectstyle--style2 {
  font-family:Georgia, serif;
  --unicodepointer:"\2630";
}
.selectstyle--style3 {
  --selectsize:2rem;
  --uibordercolor:#c00;
  --uibackground:#f8f8f8;
  --uiborderradiusfactor:0.3;
  --uihovercolor:#600;
  --uireversecolor:#ffc;
  --unicodepointer:"\25bd";
}
.selectstyle__box {
  margin:0 auto;
  width:auto;
  height:auto;
  text-align:center;
  overflow:visible;
  position: relative;
  display:inline-block;
  font-size:calc(var(--selectsize) * 0.5);
}

.selectstyle__label {
  font-size:calc(var(--selectsize) * 0.5);
  position: relative;
  display: inline-block;
  margin:0 calc(var(--selectsize) * 0.5) 0 0;
  white-space:nowrap;
}
.selectstyle__box__select {
  position:relative;
  display: inline-block;
  border: 2px solid var(--uibordercolor);
  padding: 0 calc(var(--selectsize) * 0.09) 0 calc(var(--selectsize) * 0.15);
  margin: 0;
  font: inherit;
  height:var(--selectsize);
  line-height: calc(var(--selectsize) * 0.92);
  background: var(--uibackground);
  -webkit-appearance: none;
  -moz-appearance: none;
  /* remove the strong OSX influence from Webkit */
  border-radius: calc(var(--selectsize) * var(--uiborderradiusfactor));
  cursor:pointer;
}
.selectstyle__box__select optgroup, .selectstyle__box__select optgroup option {
  /* This helps the appearance of select dropdowns in Firefox to be more like other browsers.
  Chrome and Safari ignore these rules */
  color:black;
  background:#ccc;
  font-size:inherit;
}

/* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .selectstyle__box__select {
    padding-right: calc(var(--selectsize) * 0.835);
  }
}
/* Select arrow styling using unicode symbol */
.selectstyle__box::after {
  width:var(--selectsize);
  height:var(--selectsize);
  content: var(--unicodepointer);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: var(--selectsize);
  padding: 0 7px;
  background: var(--uibackground);
  color: black;
  pointer-events: none;
  border-radius: 0 calc(var(--selectsize) * var(--uiborderradiusfactor)) calc(var(--selectsize) * var(--uiborderradiusfactor)) 0;
  border: 2px solid var(--uibordercolor);
}
.selectstyle__box:hover::after, .selectstyle__box__select:hover {
  background:var(--uihovercolor);
  color:var(--uireversecolor);
}
.no-pointer-events .selectstyle__box__select:after {
  content: none;
}
.footer-2{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
